body {
  background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background: #e0f7fa;
  margin: 60px;
  padding: 30px;
  display: block;
  position: relative;
  left: 400px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 40px;
  color: #085f63;
  box-shadow: 5px 5px 5px rgb(150, 209, 243);
}
footer {
  display: block;
  position: relative;
  left: 500px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #b7f8db;
}

.city-select {
  display: block;
  width: 600px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 30px;
}
h1 {
  text-align: center;
}
.city-date {
  border-bottom: 1px dashed blue;
}
.time {
  display: flex;
  position: relative;
  top: -50px;
  left: 490px;
  font-size: 28px;
}
